<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css" />
    <title>DeliveryX</title>
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Body -->
    <nav class="navbar navbar-light bg-light justify-content-between sticky-top">
        <a class="navbar-brand mb-0 h1" href="/order">DeliveryX</a>
        <div class="btn-group" role="group" aria-label="...">
            {{if .Username}}
            <a class="btn btn-secondary" href="/account" role="button">{{.Username}}</a>
            <a class="btn btn-secondary" href="/signmeout" role="button">Sign-out</a>
            {{else}}
            <a class="btn btn-secondary" href="/signin" role="button">Sign-in</a>
            {{end}}
        </div>
    </nav>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="list-group" id="list-tab" role="tablist">
                    {{range .Menu}}
                    <a class="list-group-item list-group-item-action" id="list-{{.ItemLink}}-list" data-toggle="list" href="#{{.ItemLink}}" role="tab" aria-controls="{{.ItemLink}}">{{.ItemName}}</a>
                    {{end}}
                </div>
            </div>
                <div class="col-6">
                <div class="tab-content" id="nav-tabContent">
                    {{range .Menu}}
                    <div class="tab-pane fade" id="{{.ItemLink}}" role="tabpanel" aria-labelledby="list-{{.ItemLink}}-list">{{.ItemPrice}}PLN</div>
                    {{end}}
                </div>
            </div>
        </div>
</div>
</body>

</html>
